.loading-screen {
  position: fixed;
  background-color: rgba(194, 43, 156, 0.466);
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
}
